<!DOCTYPE html>
<html>
	<head>
		<title>USER SIGN UP PAGE</title>
	</head>
	<body>
		<h1>username or password is incorrect please try again</h1>
	<form action="http://localhost:8080/user/api/signup" method="post">
		<table>
		<tr>
			<td>
			<label >USERNAME: </label>
			</td>
			<td>
			<input type="text" name="username"/>
			</td>
		</tr>
		<tr>
					<td>
					<label >PASSWORD: </label>
					</td>
					<td>
					<input type="text" name="password"/>
					</td>
				</tr>
				<tr>
				
			<tr>
				<td colspan="2">
					<input type="submit"/></td>
			</tr>								
		</table>
		</form>
	</body>
</html>